@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Barrio&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #E5E6E8;
	font-size: 1.5em; /*1em = 16px*/
	color: #0F0F0D;
}

nav {
	padding: 20px;
	text-align: center;
}

/*LoVe HAte*/

nav a:link {
	color: #D9042B;
	font-family: "Balsamiq Sans", cursive;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 2px;
	text-decoration: none;
	margin: 0 32px;
}

nav a:visited {
	color: #2EBF72;
}

nav a:hover {
	border-bottom: 1px solid #FFF;
}

nav a:active {
	color: #2EBF72;	
}

h1 {
	font-family: "Barrio", cursive;
	font-size: 5em;
	line-height: .25em;
	padding-bottom: 1em;
}

h2 {
	color: #FFE237;
	font-family: "Balsamiq Sans", cursive;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

h3 {
	font-family: "Balsamiq Sans", cursive;
	margin: .25em auto;
	font-size: 1.5em;
}

h4 {
	color: #000D0C;
	font-family: "Balsamiq Sans", cursive;
	font-size: 1.25em;
	margin: .5em auto;
}

p {
	font-family: "Balsamiq Sans", cursive;
	line-height: 1.5em;
	max-width: 33em;
	color: #000;
}

ul {
	font-family: "Balsamiq Sans", cursive;
	list-style: none;
  	margin: 0;
  	padding: 0;
  	line-height: 1.5em;
}

a {
	font-family: "Balsamiq Sans", cursive;
	line-height: 2em;
	color: #D9042B;
	text-decoration: underline;
}

footer {
	background-color: #D9042B;
	border: 3px black solid;
	width: 30em;
	padding: 10px;
	margin: 2em auto;
	line-height: 1em;
	text-align: center;
	clear: both;
}

footer h3, p, a {
	color: #FFF;
}

img {
	width: 75%;
	height: 75%;
}

.hero-image {
	background-image: url(../images/new_cover_photo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	position: relative;
	padding: 200px;
}

.hero-text {
	text-align: center;
	color: #0F0F0D;
}

.slogan {
	color: #D9042B;
	font-family: "Barrio", cursive;
	font-size: 2.5em;
	margin: 0;
	text-align: center;
}

.intro {
	border: 3px #49D2DF dashed;
	padding: 20px;
	max-width: 36em;
	margin: 2em auto;
	text-align: left;
	font-size: 1.1em;
}

.intro a {
	color: #D9042B;
}

.intro p {
	color: #000;
}

.special {
	background: url(../images/muddy_buddies.jpg), #23388B;
	background-size: 33%;
	background-position: right;
	background-repeat: no-repeat;
	padding: 3.5em;
	margin: 2em auto;
	text-align: left;
	color: #C9B1A3;
}

.special h2 {
	background-color: black;
	color: #FFF;
	width: 9em;
	font-size: 2em;
}

.special a {
	color: #D9042B;
}

#simple {
	color: #815FE8;
	font-family: "Barrio", cursive;
	font-size: 4em;
	padding: 0;
	margin: 0;
	text-align: center;
}

.column {
	float: left;
	width: 33.33%;
	padding-bottom: 1em;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#combo {
	width: 34em;
	margin: 2em auto;
	text-align: center;
}

@media only screen and (max-width: 1360px) {
	.hero-text {
		width: 75%
}
}

@media only screen and (max-width: 1330px) {
	.special {
		width: 75%;
		background-image: none;
		padding: 0;
	}
}

@media only screen and (max-width: 1110px) {
	.column {
		float: none;
		width: 75%;
		margin: 2em auto;
	}

	#combo {
		width: 50%;
	}
}

@media only screen and (max-width: 875px) {
	nav {
		display: block;
	}
}

@media only screen and (max-width: 760px) {
	footer {
		width: 75%;
		font-size: 75%;
		line-height: 1.5em;
	}
}

@media only screen and (max-width: 592px) {
	.special h2 {
		width: 100%;
	}
}